<template>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <table class="table">
                    <thead>
                        <tr repeat.for="todo of todos.todosArray" click.trigger="editTodo(todo)"></tr>

                        <tr>
                            <th colspan="4">
                                <span click.trigger="newTodo()"><i data-feather="plus"></i></span>
                                <span click.trigger="getTodos()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Todo</th>
                            <th scope="col">Priotity</th>
                            <th scope="col">Done</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="todo of todos.todosArray">
                            <td click.trigger="editTodo(todo)">${todo.todo}</td>
                            <td click.trigger="editTodo(todo)">${todo.priotity}</td>
                            <td click.trigger="editTodo(todo)">${todo.done}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" checked.bind="todo.done"
                                        type="checkbox" value="" id="defaultCheck1" click.trigger="save()">
                                        
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>


            </div>
        </div>
    </div>



</template>